.about-header-section{
    width: 100%;
    max-width: 1440px;
    height: 96px;
    margin: auto;
}
.about-header-left-wrapper{
    width: 100%;
    max-width: 1280px;
    height: 96px;
    display: flex;
    margin: auto;
    align-items: center;
}
.basic-logo-wrapper{
    list-style: none;
    margin-right: 50px;
} .basic-logo{
    width: 100%;
    max-width: 108px;
    height: 29px;
}
.about-header-left-list{
    list-style: none;
}
.about-header-left-list + .about-header-left-list{    
    margin-left: 30px;
    }
.about-header-left-links{
    font-family: Space Mono, sans-serif;
    font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
    text-decoration: none;
    color: #939CAA;
}
.about-header-right-link{
    
    width: 100%;
    max-width: 180px;
    height: 53px;
    margin-left: auto;
    list-style: none;
   
}
.about-header-link{
    font-family: Space Mono, sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
   text-decoration: none;
   padding: 15px 35px;
   color: rgb(255, 255, 255);
   background-color:#FCB72B;
}
