.about-main-third-section{
    width: 100%;
    max-width: 1440px;
    height: 450px;
    margin: auto;
    margin-top: 200px;
}
.about-main-third-heading-wrapper::after{
    position: absolute;
    content: url(../../images/half-circle-right.svg);
    margin-top: -265px;
    margin-left:  -777px;
}
.about-main-third-item-wrapper{
    width: 100%;
    max-width: 1275px;
    height: 450px;
    margin: auto;
}
.about-main-third-heading-wrapper{
    margin-left: 650px;
    list-style: none;
}
.about-main-third-heading-wrapper::before{
    position: absolute;
    content: url(../../images/about-main-third-city-image.svg);
    margin-left: -620px;
}
.about-main-third-section::after{
    position: absolute;
    content: url(../../images/about-third-main-strelka.svg);
    size: 350px 128px;
    margin-top: -450px;
    margin-left: -5px;
}
.about-main-third-heading{
    width: 100%;
    max-width: 500px;
    height: 96px;
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #495567;
    
}
.about-main-third-heading-paragraph{
    width: 100%;
    max-width: 445px;
    height: 100px;
    font-family: Lexend Deca, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
    color: #939CAA;
}
.about-main-third-link-wrapper{
    width: 100%;
    max-width: 180px;
    height: 53px;
    padding: 14px 45px;
    background-color: #FCB72B;
}
.about-main-third-link-wrapper:hover{
    padding: 12px 42px;
    color:#FCB72B;
    background-color: white;
    border: 3px solid #FCB72B;
    transition: 0.3s all;
    .about-main-third-link{
        color: #FCB72B;
    }
}
.about-main-third-link{
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}