

.about-fourth-main-heading-wrapper{
    list-style: none;
}

.about-fourth-main-heading{
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 48px;
text-align: center;
letter-spacing: -2.14286px;
color: #495567;
}

.about-fourth-main-texts-wrapper{
    width: 100%;
    max-width: 1110px;
    height: 608px;
    display: flex;
    margin: auto;
    padding: 0;
    
}
.about-fourth-main-heading-wrapper{
    width: 100%;
    max-width: 540px;
    height: 48px;
    margin: auto;
}
.about-fourth-main-items{
    list-style: none;
    
}
.about-fourth-main-items + .about-fourth-main-items{
 margin: 0 30px;
    
}
.about-fourth-main-items + .about-fourth-main-items + .about-fourth-main-items{
 margin: 0;
    
}

.about-fourth-main-mini-headings1{
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: 0;
    letter-spacing: -1.07143px;
    color: #495567;
    
}
.about-fourth-main-mini-headings2{
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: 0;
    letter-spacing: -1.07143px;
    color: #495567;
    
}
.about-fourth-main-mini-headings3{
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: 0;
    letter-spacing: -1.07143px;
    color: #495567;
    
}
.about-fourth-main-mini-headings1::before{
    content: url(../../images/about-fourth-main-phone-image.svg);
}
.about-fourth-main-mini-headings2::before{
    content: url(../../images/about-fourth-main-scooter.svg);
}
.about-fourth-main-mini-headings3::before{
    content: url(../../images/about-fourth-main-person.svg);
}
.about-fourth-main-paragraph1{
    font-family: Lexend Deca, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #939CAA;

}
.about-fourth-main-paragraph2{
    font-family: Lexend Deca, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #939CAA;

}
.about-fourth-main-paragraph3{
    font-family: Lexend Deca, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #939CAA;

}
.about-fourth-main-paragraph1::before{
    position: absolute;
content: url(../../images/about-fourth-main-number.svg);

margin-top: -160px;
margin-left: 110px;
}
.about-fourth-main-paragraph2::before{
    position: absolute;
    content: url(../../images/about-fourth-main-number2.svg);
    margin-top: -160px;
    margin-left: 115px;

}
.about-fourth-main-paragraph3::before{
    position: absolute;
    content: url(../../images/about-fourth-main-number3.svg);
    margin-top: -160px;
    margin-left: 110px;

}