.careers-fourth-section{
    width: 100%;
    max-width: 1440px;
    height: 888px;
    margin: auto;
}
.careers-fourth-item-wrapper{
    width: 100%;
    max-width: 1110px;
    height: 128px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    background-color: #F2F5F9;

}
.careers-fourth-main-headings{
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: #495567;
}
.careers-fourth-main-paragraph{
    font-family: Lexend Deca, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
color: #495567;
}
.careers-fourth-main-links-wrapper-link{
    width: 100%;
    max-width: 180px;
    height: 53px;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
}
.careers-fourth-main-links{
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
    width: 100%;
    max-width: 180px;
    height: 53px;
    padding: 14px 67px;
    color: white;
    background-color: #FCB72B;
}
.careers-fourth-main-links:hover{
    color: #FCB72B ;
 background-color: white;
 border: 3px solid #FCB72B;
 transition: 0.3s all;
}