.careers-first-main{
    width: 100%;
    max-width: 1440px;
    height: 200px;
    margin: auto;
    background-image: url(../../images/about-first-main-background-image.svg);
}
.careers-first-main-wrapper{
    width: 100%;
    max-width: 1280px;
    height: 200px;
    margin: auto;
}
.careers-first-main-heading-wrapper{
    list-style: none;
}
.careers-first-main-wrapper::after{
    position: absolute;
    content: url(../../images/about-3-circles.svg);
    size: 234px 63px;
    margin-top: -50px;
    margin-left: 1117px;
}
.careers-first-main-heading{
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 56px;
letter-spacing: -2.5px;
color: #FFFFFF;
    margin: 0;
    padding-top: 65px;
}