.location-third-main-section{
    width: 100%;
    max-width: 1440px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
}
.location-third-main-wrapper{
    width: 100%;
    max-width: 1111px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.location-third-main-heading{
    width: 100%;
    max-width: 351px;
    height: 96px;
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 48px;
letter-spacing: -2.14286px;
color: #495567;
}
.location-third-main-paragraph{
    width: 100%;
    max-width: 445px;
    height: 100px;
    font-family: Lexend Deca, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
color: #939CAA;
}
.location-third-main-link{
    width: 100%;
    max-width: 92px;
    height: 25px;
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
text-align: center;
margin-left: 80px;
padding: 14px 44px;
color: #FFFFFF;
background-color: #FCB72B;

}
.location-third-main-link:hover{
    width: 100%;
    max-width: 92px;
    height: 25px;
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
text-align: center;
padding: 14px 44px;
color: #FCB72B;
background-color: white;
border: 3px solid #FCB72B;
transition: 0.3s all;

}