.footer{
margin-top: 329px;
}

.first-footer-wrapper{
    width: 100%;
    max-width: 1440px;
    height: 300px;
    display: flex;
    margin: auto;
    background-color:#495567;

}
.first-footer-wrapper::after{
    position: absolute;
content: url(../../images/first-footer-circles.svg);
margin-top: 145px;
    margin-left: 445px;
}
.footer-first-heading{
    width: 100%;
    max-width: 415px;
    height: 96px;
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 48px;
letter-spacing: -2.14286px;
align-items: center;
color: #FFFFFF; 
}
.first-footer-items-left{
    list-style: none;
    margin-right: 372px;
    margin-left: 80px;
}
.first-footer-items-right + .first-footer-items-right{
   margin-left: 18px;
}
.first-footer-items-wrapper-left{
    display: flex;
    list-style: none;
   align-items: center;
}