.main-fourth-section{
    width: 100%;
    max-width: 1440px;
    height: 450px;
    margin: auto;
    margin-top: 200px;
}
.main-fourth-heading-wrapper::after{
    position: absolute;
    content: url(../../images/half-circle-right.svg);
    margin-top: -265px;
    margin-left:  -959px;
}
.main-fourth-item-wrapper{
    width: 100%;
    max-width: 1275px;
    height: 450px;
    margin: auto;
}
.main-fourth-heading-wrapper{
    margin-left: 650px;
    list-style: none;
}
.main-fourth-heading-wrapper::before{
    position: absolute;
    content: url(../../images/main-third-city-img.svg);
    margin-left: -620px;
}
.main-fourth-section::after{
    position: absolute;
    content: url(../../images/main-fourth-strelka.svg);
    size: 350px 128px;
    margin-top: -450px;
    margin-left: -5px;
}
.main-fourth-heading{
    width: 100%;
    max-width: 500px;
    height: 96px;
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #495567;
    
}
.main-fourth-heading-paragraph{
    width: 100%;
    max-width: 445px;
    height: 100px;
    font-family: Lexend Deca, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
margin-bottom: 30px;
color: #939CAA;

}
.main-fourth-link-wrapper{
    width: 100%;
    max-width: 180px;
    height: 53px;
    padding: 14px 45px;
    background-color: #FCB72B;
}
.main-fourth-link-wrapper:hover{
    padding: 12px 42px;
    color:#FCB72B;
    background-color: white;
    border: 3px solid #FCB72B;
    transition: 0.3s all;
    .main-fourth-link{
        color: #FCB72B;
    }
}
.main-fourth-link{
    font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
text-decoration: none;
text-align: center;
color: #FFFFFF;

}