// @media only screen and (max-width:1440px){
//     .section-main{
//         width: 100%;
//         max-width: 1280px;
//         height: auto;
//         margin: auto;
//        background-image: url(../../images/scooter.jpg);
//        background-size: 1280px;
//        background-repeat: no-repeat;
//        background-position: center;
      
//     } 
// }


.section-main{
    width: 100%;
    max-width: 1440px;
    height: 650px;
    margin: auto;
   background-image: url(../../images/scooter.jpg);
   background-size: 1440px 650px;
   background-repeat: no-repeat;
   
  
}
.main-first-item-wrapper{
    width: 100%;
    max-width: 1280px;
    height: 400px;
    padding-top: 120px;
    padding-left: 155px;
    margin: 0;

}
.main-heading-first-items{
    list-style: none;
    
}
.main-first-items-heading{
    text-decoration: none;
}
.basic-site-main-heading{
    width: 100%;
    max-width: 530px;
    height: 112px;
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 56px;
    color: white;
   
}
.main-first-items-paragraph{
    width: 100%;
    max-width: 405px;
    height: 100px;
    font-family: Lexend Deca, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
  text-decoration: none;
    color: white;
}
.main-first-items-paragraph::before{
    margin-top: 40px;
    margin-left: -255px;
    position: absolute;
   content: url(../../images/strelka-scooter-left.svg);

}
.main-first-items-paragraph::after{
    margin-top: -30px;
    margin-left:290px;
    position: absolute;
   content: url(../../images/strelka-scooter.svg);

}
.main-first-items{
    width: 100%;
    max-width: 400px;
    margin-left: 100px;
    list-style: none;
}
.main-first-items + .main-first-items{
    width: 100%;
    max-width: 300px;
   
}

.main-first-items-link{
   
    margin-top: 10px;
    border-style: none;
    background-color: #FCB72B;
    color: white;
    padding: 15px 45px;
    cursor: pointer;
    
   
}
.main-first-items-link:hover{
    cursor: pointer;
    border: 1px solid #FCB72B;
    color: #FCB72B;
    background-color: rgba(108, 113, 147, 0);

   
}
.main-first-items-links{
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
    text-decoration: none;
    color: white;
}
