.site__main .container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
align-items: center;
padding: 0 20px;
margin-bottom: 150px;
}

.site-main-box{
    width: 100%;
   background-image: url(../../images/scooter.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   margin-top: 100px;
   padding: 152px 165px;
}

.main-heading-first-items{
    list-style: none;
    
}
.main-first-items-heading{
    text-decoration: none;
}
.basic-site-main-heading{
    width: 100%;
    max-width: 530px;
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 56px;
    color: white;
   
}
.main-first-items-paragraph{
    width: 100%;
    max-width: 405px;
    font-family: Lexend Deca, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
  text-decoration: none;
  margin-bottom: 40px;
    color: white;
}


.main-first-items{
    width: 100%;
    max-width: 400px;
    margin-left: 100px;
    list-style: none;
}
.main-first-items + .main-first-items{
    width: 100%;
    max-width: 300px;
   
}

.main-first-items-link{
   
    margin-top: 10px;
    border-style: none;
    background-color: #FCB72B;
    color: white;
    padding: 15px 45px;
    cursor: pointer;
    
   
}
.main-first-items-link:hover{
    cursor: pointer;
    border: 1px solid #FCB72B;
    color: #FCB72B;
    background-color: rgba(108, 113, 147, 0);

   
}
.main-first-items-links{
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
    text-decoration: none;
    color: white;
}
@media only screen and (max-width:613px){
    .site-main-box{
        width: 100%;
        background-image: url(../../images/scooter.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 100px;
        padding: 100px 100px;
    }
}
@media only screen and (max-width:376px){
    .basic-site-main-heading{
        max-width: 255px;
        text-align: center;
    }
    .main-first-items-paragraph{
        text-align: center;
        max-width: 255px;
    }
}