.main-third-section{
    width: 100%;
    max-width: 1440px;
    height: 450px;
    margin: auto;
    margin-top: 200px;
}
.main-third-heading-wrapper::after{
    position: absolute;
    content: url(../../images/half-circle.svg);
    margin-top: -300px;
    margin-left:  1040px;
}
.main-third-item-wrapper{
    width: 100%;
    max-width: 1275px;
    height: 450px;
    margin: auto;
}
.main-third-heading-wrapper{
    list-style: none;
}
.main-third-heading-wrapper::before{
    position: absolute;
    content: url(../../images/main-third-boy-img.svg);
    margin-left: 700px;
    margin-top: -50px;
}
.main-third-section::after{
    position: absolute;
    content: url(../../images/main-third-strelka.svg);
    margin-left: 665px;
    margin-top: -200px;
}
.main-third-heading{
    width: 100%;
    max-width: 500px;
    height: 96px;
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #495567;
    
}
.main-third-heading-paragraph{
    width: 100%;
    max-width: 445px;
    height: 100px;
    font-family: Lexend Deca, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
margin-bottom: 30px;
color: #939CAA;

}
.main-third-link-wrapper{
    width: 100%;
    max-width: 180px;
    height: 53px;
    padding: 14px 45px;
    background-color: #FCB72B;
}
.main-third-link-wrapper:hover{
    padding: 12px 42px;
    color:#FCB72B;
    background-color: white;
    border: 3px solid #FCB72B;
    transition: 0.3s all;
    .main-third-link{
        color: #FCB72B;
    }
}
.main-third-link{
    font-family: Space Mono, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
text-decoration: none;
text-align: center;
color: #FFFFFF;
}