.site-button {
    width: 100%;
    max-width: 20px;
    height: 16px;
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.site__header .container {
    width: 100%;
    max-width: 1280px;
    height: 96px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.836);
}

.hamburger{
    border: none;
    background-color: white;
    display: none;
}

.header-left-wrapper {
    width: 100%;
    max-width: 1111px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.basic-logo-wrapper {
    list-style: none;

}

.basic-logo {
    width: 100%;
    max-width: 108px;
    height: 29px;
}

.header-left-list {
    list-style: none;
}

.header-left-links {
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    list-style: none;
    color: #939CAA;
}

.header-left-links:hover {
    list-style: none;
    color: #FCB72B;
    transition: 0.4s all;
}

.header-left-list+.header-left-list {
    margin-left: 30px;
}



.header-link {
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    padding: 14px 39px;
    margin-left: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #FCB72B;
}
.site-nav{
    display: flex;
}
.header-link:hover {
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    color: #FCB72B;
    background-color: white;
    border: 3px solid #FCB72B;
    border-color: #FCB72B;
    transition: 0.4s all;
}
@media only screen and (max-width:645px){
    .hamburger{
        display: block;
    }
    .site-nav{
        display: none;
    }
    .header-link{
        display: none;
    }
    .site-nav__logo{
        margin: 0 auto;
    }
}