.values-part .container {
    position: relative;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 20px;
    align-items: center;
  }
  .values-part__title {
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
    margin: 100px auto;
  }
  .values-part__list {
    display: flex;
    flex-direction: reverse;
  }
  .values-part__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    & .values-pic {
      order: -1;
    }
  }
  
  .values-part__item-title {
    width: 100%;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: #495567;
    max-width: 300px;
  }
  
  .values-part__text {
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939caa;
  }
  .care-mission-pics {
    border-radius: 50%;
  }
  .values-pic {
    margin-left: 35px;
  }
@media only screen and (max-width:765px){
    .values-part__list{
        max-width: 450px;
        flex-direction: column;
        margin: 0 auto;
    }
}